<link rel="stylesheet" href="index.css" />
<div class="div">
    {{#each books}}
        <li style="margin: 10px; background-color: yellow; padding: 5px;">
            Title :
            {{this.title}}
            <br />
            Author :
            {{this.author}}
        </li>
    {{/each}}
</div>