



<div>


    {{#each events}}
        <li style="margin: 10px; background-color: yellow; padding: 5px;">
            Title :
            {{this.event_title}}
            <br />
            Date :
            {{this.event_date}}
        </li>
            location :
            {{this.event_location}}
        </li>
    {{/each}}
</div>