<form action="/books/add-book" method="POST">
    <input type="text" name="event_title" id="event_title" placeholder="Enter event title" />
    <input type="date" name="event_date" id="event_date" placeholder="Enter event date" />
    <input type="text" name="event_location" id="event_location" placeholder="Enter event location" />
    <button>Submit event</button>
</form>